<h1><%= badge_header %></h1>
<%= form_with(model: [:admin, @badge], local: true) do |form| %>
  <%= render 'shared/errors', resource: @badge %>
  <p>
    <%= form.label :title %>*<br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :image %>*<br>
    <%= form.text_field :image %>
  </p>

  <div class='rule'>
    <%= form.label :rule %>*:
    <%= form.select :rule, [[Badge.human_attribute_name('all_tests_exact_category'), Badge::RULES[0]],
                            [Badge.human_attribute_name('first_try'), Badge::RULES[1]],
                            [Badge.human_attribute_name('all_tests_exact_level'), Badge::RULES[2]]], prompt: true %>
  </div>

  <div class="parameter-categories hide">
    <%= form.label :parameter %>*<br>
    <%= form.collection_select :parameter, Category.all, :id, :title %>
  </div>

  <div class="parameter-levels hide">
    <%= form.label :parameter %>*<br>
    <%= form.select :parameter, Test.select([:id,:level]).pluck(:level).uniq, disabled: true %>
  </div>


  <br><%= form.submit %>
<% end %>