<nav class="navbar navbar-light" style="background-color: #e3f2fd">
  <a class="navbar-brand" href="<%= admin_tests_path %>">TestNeGuru</a>
  <span class="navbar-text"><%= t('.admin_panel') %></span>

  <div>
    <%= t('shared.nav.welcome', first_name: current_user.first_name, last_name: current_user.last_name) %>
    <%= link_to(t('shared.nav.logout'), destroy_user_session_path, method: :delete) %><br>
    <%= link_to(t('.gists'), admin_gists_path) %> |
    <%= link_to(t('shared.nav.badges'), admin_badges_path) %><br>
    <%= link_to(t('.user_mode'), tests_path) %>
  </div>

</nav>
