<br>
<br>
<p>
  <%= current_year %>.<br>
  <%= github_url('JuicyLucfier','TestNeGuru') %><br>
  <%= t('.description') %><br>
  <%= t('.thinketica'); %> <span><%= link_to('Thinknetica', 'http://thinknetica.com', rel: "nofollow", target: "_blank") %> </span>
</p>
