<h1><%= question_header(@question, @test) %></h1>
<%= form_with(model: [:admin, @test, @question], local: true) do |form| %>
  <%= render 'shared/errors', resource: @question %>
  <div class="field form-group">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <p><%= form.submit 'new question', class: 'btn btn-primary' %></p>
<% end %>
