<tr>
  <td><%= question.id %></td>
  <td><%= question.title %></td>
  <td><%= link_to(t('admin.answers.answer.show'), admin_question_path(question) )%></td>
  <td><%= link_to(t('admin.answers.answer.edit'), edit_admin_question_path(question) )%></td>
  <td>
    <%= link_to(t('admin.answers.answer.delete'),
                admin_question_path(question),
                method: :delete,
                data: { confirm: t('admin.answers.answer.are_you_sure') } ) %>
  </td>
</tr>
