<h1><%= t('.question', title: @question.test.title) %></h1>

<p>
  <%= @question.title %>
</p>

<h2><%= t('.answers') %></h2>

<%= link_to t('admin.answers.new.new_answer'), new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>
<%= link_to t('admin.answers.answer.edit'), edit_admin_question_path(@question) %><br>
<%= link_to t('admin.questions.edit.back_to_test'), admin_test_path(@test) %>
