<h1><%= test_header(@test) %></h1>
<%= form_with(model: [:admin, @test], local: true) do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <div class="field form-group">
    <%= form.label :title, t('.title') %><br>
    <%= form.text_field :title %>
  </div>

  <div class="field form-group">
    <%= form.label :level, t('.level') %><br>
    <%= form.number_field :level %>
  </div>

  <div class="field form-group">
    <%= form.label :category_id, t('.category') %>:
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </div>

  <%= form.submit t('.submit_test'), class: "btn btn-primary" %>
<% end %>
