<h1><%= @test.title %></h1>

<table>
    <tr>
      <th>ID</th>
      <th>Question</th>
      <th colspan="3">Actions</th>
    </tr>

  <%= render partial: 'questions/question', collection: @test.questions %>
</table>

<p> Amount of questions: <%= @questions.count %> </p><br>

<%= link_to 'Create new question', new_test_question_path(@test) %><br>
<%= link_to 'Back', admin_tests_path %>