<h1><%= t('.tests') %></h1>

<%= flash_message('notice') %>

<table class="table table-bordered table-striped">
  <tr>
    <th class="sort-by-title pointer">
      <%= t('.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th><%= t('.level') %></th>
    <th><%= t('.category') %></th>
    <th><%= t('.actions') %></th>
  </tr>


  <%= render @tests %>
</table>
