<h1>Test № <%= @test.id %></h1>

<table>
  <tr>
    <th>Test</th>
    <th>Level</th>
  </tr>

    <tr>
      <td><%= @test.title %></td>
      <td><%= @test.level %></td>
    </tr>

</table>

<table>
  <th></th>
</table>

<br>
<%= link_to 'Edit', edit_test_path(@test) %><br>
<%= link_to 'Questions', test_questions_path(@test) %><br>
<%= link_to 'Create new question', new_test_question_path(@test) %><br>
<%= link_to 'Back', tests_path %>