<!DOCTYPE html>
<html>
  <head>
    <title>TestNeGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'shared/nav' %>
  <%= link_to "My badges", my_badges_path %> | <%= link_to "All badges", admin_badges_path %>
  <%= flash_message('alert') %>
  <%= yield %>
  <%= render 'shared/footer' %>
  </body>
</html>
